<section id="footer">
    <footer>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("How it Works", "HowItWorks", "Home")</li>
            <li>@Html.ActionLink("Buyers", "Buyers", "Home")</li>
            <li>@Html.ActionLink("Sellers", "Sellers", "Home")</li>
            <li>@Html.ActionLink("Agents-Brokers", "AgentsBrokers", "Home")</li>
            <li>@Html.ActionLink("News", "News", "Home")</li>
            <li>@Html.ActionLink("Financing", "Financing", "Home")</li>
            <li>@Html.ActionLink("Property Managers", "PropertyManagers", "Home")</li>
            <li>@Html.ActionLink("Insurance", "Insurance", "Home")</li>
            <li>@Html.ActionLink("IRA's", "IRAs", "Home")</li>
            <li>@Html.ActionLink("Contractors", "Contractors", "Home")</li>
        </ul>
        <p id="copyright">Copyright &copy;</p>
    </footer>
</section><!-- footer -->
